<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Secret Santa App</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
</head>

<body>
    <h1>Secret Santa</h1>
    <form action="/add-person" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <input type="submit" value="Add Person"><br>
    </form>
</body>

</html>
